.title {
  position: relative;
  max-width: 353px;
  width: 100%;
  padding-left: 80px;
  color: #42567a;

  h1 {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
  }

  &_line {
    position: absolute;
    width: 6px;
    height: 100%;
    left: 0;
    top: 0;
    background: #ef5da8;
  }
}
